VITE_SUPABASE_URL=https://twlqdqttalhxksnvqlog.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3bHFkcXR0YWxoeGtzbnZxbG9nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyOTM2NzcsImV4cCI6MjA5Mjg2OTY3N30.VYtjFed43oz7jFFH3kV-1ZbQkIbCw_kO-FbiR75olRU
VITE_API_BASE_URL=http://localhost:5000/api
