PORT=5000
CLIENT_ORIGIN=http://localhost:5173
SUPABASE_URL=https://twlqdqttalhxksnvqlog.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3bHFkcXR0YWxoeGtzbnZxbG9nIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzI5MzY3NywiZXhwIjoyMDkyODY5Njc3fQ.0ZbGRgd9BFLvM6-3lyTDoNt7Wj-3kFcm6chLP98IGvs
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3bHFkcXR0YWxoeGtzbnZxbG9nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcyOTM2NzcsImV4cCI6MjA5Mjg2OTY3N30.VYtjFed43oz7jFFH3kV-1ZbQkIbCw_kO-FbiR75olRU
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
DEVELOPER_EMAIL=
NODE_ENV=development
